<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Приветственная форма</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form >
		<button class="btn btn-md btn-primary btn-block" type="Submit"><strong>ВПЛОТЬ ДО КОНФРЕНСА</strong><br>Добро пожаловать, Дамы и Господа <br>Для регистрации введите свои данные</button>
	</form>	
	
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<p></p>
				<form autocomplete="off" action="#" th:action="@{/welcome}"
				th:object="${people}" method="post" class="form-horizontal"
					role="form" enctype="multipart/form-data">
					<h2>Регистрационная форма участника</h2>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" placeholder="Имя"
								class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
								class="validation-message"></label>
							<input type="text" th:field="*{lastName}"
								placeholder="Фамилия" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" placeholder="Почта"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>
					
					
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('educationLevel')}" th:errors="*{educationLevel}"
								class="validation-message"></label>
							<input type="text" th:field="*{educationLevel}"
								placeholder="Образование " class="form-control" /> 
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('contactNumber')}" th:errors="*{contactNumber}"
								class="validation-message"></label>
							<input type="text" th:field="*{contactNumber}"
								placeholder="Контактный телефон " class="form-control" /> 
						</div>
					</div>
					<!-- //http://javapapers.com/core-java/java-qr-code/ -->
					
					<div class="form-group">
						<div class="col-sm-9">
						<label	th:if="${#fields.hasErrors('nic')}" th:errors="*{nic}"
								class="validation-message"></label>
							<input type="text" th:field="*{nic}"
								placeholder="Национальный идентификационный номер " class="form-control" /> 
						</div>
					</div>
					
					
					<table>
				<tr>Файл для загрузки:</tr><br>
				<tr><strong>Предупреждение</strong>: Пожалуйста, загрузите изображение размером менее 5 Мб и <br> </tr>
				<tr>Имя файла должно быть вашим полным именем на сетевой карте</tr>
				<td><input type="file" name="file" /></td></tr>
				<tr><td></td><td></td></tr>
			</table>
					
					
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Зарегистрироваться для участия в конференции</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
					
					
					
					
					
					
					
					
					
					
					
					</form>
				
				
			</div>
		</div>
	</div>

</body>
</html>